{% assign state = site.conference.state %}
<nav class="site-nav">
  <ul>
    <li><a href="{{ '/about/' | relative_url }}">About</a></li>

    {% if state == "active" %}
      <li><a href="{{ '/program/' | relative_url }}">Program</a></li>
      <li><a href="{{ '/venue/' | relative_url }}">Venue</a></li>
      <li><a href="{{ '/hotel/' | relative_url }}">Hotel</a></li>
      <li><a href="{{ '/registration/' | relative_url }}">Registration</a></li>
      <li><a href="{{ '/administrative/' | relative_url }}">Administrative</a></li>
    {% endif %}

    <li><a href="{{ '/past/' | relative_url }}">Past</a></li>
  </ul>
</nav>
